{% load static %}
{% include 'Customer/header.html' %}
<br><br><br><br><br><br><br>
<div class="col-15">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">My Orders</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">SI N0</th>
                                    <th scope="col">Boat Name</th>
                                    <th scope="col">Request Date</th>
                                    <th scope="col">From Date</th>
                                    <th scope="col">To Date</th>
                                    <th scope="col">Number of Persons</th>
                                    <th scope="col">Total Amount</th>
                                    <th scope="col">Status</th>
                                    <th scope="col">Payment</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in order %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                     <td>{{d.boatid.boatname}}</td>
                                    <td>{{d.requestdate}}</td>
                                    <td>{{d.fromdate}}</td>
                                    <td>{{d.todate}}</td>
                                    <td>{{d.persons}}</td>
                                    <td>{{d.totalamount}}</td>
                                  <td>{{d.requeststatus}}</td>



                                   <td>
    {% if d.requeststatus == "Rejected" or d.requeststatus == "paid" or d.requeststatus == "Requested" %}
        <a href="">
            <button type="button" disabled="true" class="btn btn-danger">Pay Now</button>
        </a>
    {% else %}
        <a href="{% url 'payment' id=d.requestid %}">
            <button type="button" enabled="true" class="btn btn-primary">Pay Now</button>
        </a>
    {% endif %}
</td>

                                </tr>
                                {%endfor%}

                            </table>
                        </div>
<br><br>

                      {% include 'Customer/footer.html' %}