{% include 'Customer/header.html' %}
{% load static %}

<br><br>
<br>
<br><br>
<br><br>
<br>
<div class="container">
    <div class="row">
        {% for c in boat %}
        <div class="col-12 col-md-6 col-lg-4">
            <div class="single-rooms-area wow fadeInUp" data-wow-delay="100ms">
                <!-- Thumbnail -->
                <div class="bg-thumbnail bg-img" style="background-image: url({% static '../images/' %}{{ c.boatimage }});"></div>
                <!-- Price -->
                <p class="price-from">{{ c.boatname}}</p>
                <!-- Rooms Text -->
                <div class="rooms-text">
                  <p>Rs. {{c.boatamount}}</p>
                    <div class="line">
                    </div>
                </div>
                <!-- Book Room -->
                <a href="{% url 'boatdetails' id=c.boatid %}" class="book-room-btn btn palatin-btn">View</a>
            </div>
        </div>
        {% endfor %}</div>
</div>
{% include 'Customer/footer.html' %}