<!-- partial -->
{% load static %}
{% include 'Admin/header.html' %}
      <div class="main-panel">
        <div class="content-wrapper">
          <div class="row">
            <div class="col-md-6 grid-margin stretch-card">
              <div class="card">
                <div class="card-body">
                  <h4 class="card-title">Edit Service</h4>
                  <form method="POST" action="{% url 'editservice' ser.serviceid%}">
                    {% csrf_token %}

                       <div class="mb-3">
                        <label class="form-label">Select Package</label>
                        <select class="form-control" aria-label="Large select example" id="package" name="packagename">
                            <option selected>select</option>
                                        {% for d in package %}
                                        {% if ser.packageid.packageid == d.packageid %}
                                        <option value="{{d.packageid}}" selected>{{d.packagename}}</option>
                                        {% else %}

                                        <option value="{{d.packageid}}">{{d.packagename}}</option>
                                        {% endif %}
                                        {% endfor %}

                                    </select>
                                </div>

                    <div class="mb-3">
                        <label class="form-label">Service Name</label>
                        <input type="text" name="servicename" value='{{ser.servicename}}' class="form-control" id="servicename"
                               aria-describedby="emailHelp" required>
                    </div>

                    <div class="mb-3">
                        <label class="form-label">Service Amount</label>
                        <input type="text" name="serviceamount" value='{{ser.serviceamount}}' class="form-control" id="serviceamount"
                               aria-describedby="emailHelp" required>
                    </div>



                    <button type="submit" name="submit" class="btn btn-primary">DONE</button>
                </form>
                </div>
              </div>
            </div>
            {% include 'Admin/footer.html' %}