{% load static %}
{% include 'Admin/header.html' %}
<!-- dashboard inner -->
<div class="">
    <div class="">
        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Customers Registeration List</h2>
                </div>
              <div>
              <a href="{% url 'ExportExcelcustomer' %}" class="btn btn-danger" style="ali">Export</a>
          </div>
            </div>
        </div>
        <!-- row -->
        <div class="row">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
<!--                        <div class="heading1 margin_0">-->
<!--                            <h2> Applied </h2>-->
<!--                        </div>-->
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="table-responsive-sm">
                                    <table class="table table-striped projects">
                                        <thead>
                                        <tr>
                                            <th>
                                                Sl.no
                                            </th>
                                            <th>
                                                Customer Name
                                            </th>
                                            <th>
                                                House Name
                                            </th>
                                            <th>
                                                Contact Number
                                            </th>
                                            <th>
                                                Email ID
                                            </th>
                                            <th>
                                                Pincode
                                            </th>
                                            <th>
                                                Reg Date
                                            </th>
                                            <th>
                                                District Name
                                            </th>
                                            <th>
                                                Location Name
                                            </th>


                                        </tr>
                                        </thead>
                                        <tbody>
                                        {% for n in customer %}
                                        <tr>
                                            <td>
                                                {{forloop.counter}}
                                            </td>
                                            <td>
                                                {{n.customername}}
                                            </td>
                                            <td>
                                                {{n.housename}}
                                            </td>
                                            <td>
                                                {{n.phoneno}}
                                            </td>
                                            <td>
                                                {{n.emailid}}
                                            </td>
                                            <td>
                                                {{n.pincode}}
                                            </td>
                                            <td>
                                                {{n.regdate}}
                                            </td>
                                            <td>
                                                {{n.locationid.districtid.districtname}}
                                            </td>
                                            <td>
                                                {{n.locationid.locationname}}
                                            </td>
                                        </tr>
                                        {% endfor %}

                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end row -->

    </div>

</div>




