{% load static %}
{% include 'Admin/header.html' %}

<div class="col-10">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">Responsive Table</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">SI N0</th>
                                    <th scope="col">Package Name</th>
                                    <th scope="col">Service Name</th>
                                    <th scope="col">Service Amount</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in service %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{d.packageid.packagename}}</td>
                                    <td>{{d.servicename}}</td>
                                     <td>{{d.serviceamount}}</td>


                                    <td><a href="{% url 'editservice' id=d.serviceid %}">
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </a></td>
                                    <td><a href="{% url 'deleteservice' id=d.serviceid %}"
                                           onclick="return confirm('Do you Want to delete')">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a></td>
                                </tr>
                                {%endfor%}

                            </table>
                        </div>


                      {% include 'Admin/footer.html' %}