{% load static %}
{% include 'Admin/header.html' %}

<div class="col-10">
                    <div class="bg-light rounded h-100 p-4">
                        <h6 class="mb-4">View Package</h6>
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                <tr>
                                    <th scope="col">SI N0</th>
                                    <th scope="col">Category Name</th>
                                    <th scope="col">Package Name</th>
                                    <th scope="col">Description</th>
                                    <th scope="col">Amount</th>
                                    <th scope="col">Number of Days</th>
                                    <th scope="col">Edit</th>
                                    <th scope="col">Delete</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for d in package %}
                                <tr>
                                    <th scope="row">{{forloop.counter}}</th>
                                    <td>{{d.categoryid.categoryname}}</td>
                                    <td>{{d.packagename}}</td>
                                    <td>{{d.description}}</td>
                                     <td>{{d.amount}}</td>
                                     <td>{{d.days}}</td>

                                    <td><a href="{% url 'editpackage' id=d.packageid %}">
                                        <button type="button" class="btn btn-primary">Edit</button>
                                    </a></td>
                                    <td><a href="{% url 'deletepackage' id=d.packageid %}"
                                           onclick="return confirm('Do you Want to delete')">
                                        <button type="button" class="btn btn-danger">Delete</button>
                                    </a></td>
                                </tr>
                                {%endfor%}

                            </table>
                        </div>


                      {% include 'Admin/footer.html' %}